In [7]:
# import libraries
import pandas as pd
import yfinance as yf
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os
load_dotenv()

True

In [8]:
print(os.getenv('DB_TYPE_PROD'))

postgres

In [9]:
#=================================
# Import of environment variables
#=================================
commodities = ['CL=F', 'GC=F', 'SI=F']

DB_HOST_PROD = os.getenv('DB_HOST_PROD')
DB_PORT_PROD = os.getenv('DB_PORT_PROD')
DB_USER_PROD = os.getenv('DB_USER_PROD')
DB_PASS_PROD = os.getenv('DB_PASS_PROD')
DB_SCHEMA_PROD = os.getenv('DB_SCHEMA_PROD')
DB_NAME = os.getenv('DB_NAME')

database_url = f'postgresql://{DB_USER_PROD}:{DB_PASS_PROD}@{DB_HOST_PROD}:{DB_PORT_PROD}/{DB_NAME}'
engine=create_engine(database_url)

In [15]:
def get_commodities(ticker, period='5d', interval='1d'):
    ticker_orig = ticker
    ticker = yf.Ticker(ticker)
    data = ticker.history(period=period, interval=interval)[['Close']]
    data["ticker"] = ticker_orig
    return data

test_get_df = get_commodities("CL=F")

In [16]:
test_get_df

                               Close ticker
Date
2024-08-19 00:00:00-04:00  74.370003   CL=F
2024-08-20 00:00:00-04:00  74.040001   CL=F
2024-08-21 00:00:00-04:00  71.930000   CL=F
2024-08-22 00:00:00-04:00  73.010002   CL=F
2024-08-23 00:00:00-04:00  74.830002   CL=F